:root[data-theme=default] {
    --textColor: #242f47;
    --linkHoverColor: #4366b1;
    --linkActiveColor: #161d2c;
    --backgroundColor: #ffffff;
    --buttonColor: #abc4ff;
    --buttonHoverColor: #c8d7fd;
    --buttonActiveColor: #709bff;
    --roundButtonColor: #c1d3fe;
    --hrefColor: #242f47;
    --inputColor: #e2eafc;
    --navColor: #242f47;
    --navTextColor: #ffffff;
    --buttonTransColor: #e2eafc;
    --importantColor: rgb(246, 136, 141);
    --mainPageNotImportantTextColor: #7e9feb;
}

:root[data-theme=monotone] {
    --textColor: #000000;
    --linkHoverColor: #757575;
    --linkActiveColor: #171717;
    --backgroundColor: #ffffff;
    --buttonColor: #bdbdbd;
    --buttonHoverColor: #a1a1a1;
    --buttonActiveColor: #ff002a;
    --roundButtonColor: #a1a1a1;
    --hrefColor: #000000;
    --inputColor: #eaeaea;
    --navColor: #000000;
    --navTextColor: #ffffff;
    --buttonTransColor: #eaeaea;
    --importantColor: #ff002a;
    --mainPageNotImportantTextColor: #6f6f6f;
}

:root[data-theme=cyberpunk] {
    --textColor: #05d9e8;
    --linkHoverColor: #9cf8ff;
    --linkActiveColor: #078e97;
    --backgroundColor: #01012b;
    --buttonColor: #ff2a6d;
    --buttonHoverColor: #ff4782;
    --buttonActiveColor: #ff6c9a;
    --roundButtonColor: #ff2a6d;
    --hrefColor: #05d9e8;
    --inputColor: #0a0a53;
    --navColor: #ff2a6d;
    --navTextColor: #01012b;
    --buttonTransColor: #16687f;
    --importantColor: #0a6cf5;
    --mainPageNotImportantTextColor: #ff2a6d;
}

:root[data-theme=goldDigger] {
    --textColor: #893448;
    --linkHoverColor: #ed5c7e;
    --linkActiveColor: #571928;
    --backgroundColor: rgba(242, 234, 191, 0.15);
    --buttonColor: #ffb248;
    --buttonHoverColor: #ed8146;
    --buttonActiveColor: #d95850;
    --roundButtonColor: #ffb248;
    --hrefColor: #893448;
    --inputColor: #faefc8;
    --navColor: #581318;
    --navTextColor: #fbf6ee;
    --buttonTransColor: #faefc8;
    --importantColor: #2A0944;
    --mainPageNotImportantTextColor: #ffb248;
}

:root[data-theme=goldDigger] #emailIcon,
:root[data-theme=goldDigger] #phoneIcon,
:root[data-theme=goldDigger] #linkIcon,
:root[data-theme=goldDigger] #teamIcon {
    filter: invert(27%) sepia(8%) saturate(5148%) hue-rotate(299deg) brightness(90%) contrast(89%);
}

:root[data-theme=mountain] {
    --textColor: #253d24;
    --backgroundColor: #ecfff7;
    --buttonColor: #83cbac;
    --buttonHoverColor: #71b597;
    --buttonActiveColor: #61acb5;
    --roundButtonColor: #71b597;
    --hrefColor: #253d24;
    --inputColor: #b5efd6;
    --navColor: #253d24;
    --navTextColor: #ecfff7;
    --buttonTransColor: #b5efd6;
    --importantColor: #dcb133;
    --mainPageNotImportantTextColor: #71b597;
}