button {
    background-color: var(--buttonColor);
    color: var(--navTextColor);
}

button:hover {
    background-color: var(--buttonHoverColor);
}

button:active {
    background-color: var(--buttonActiveColor);
}

input,
select,
textarea {
    background-color: var(--inputColor);
    color: var(--textColor);
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

h1 {
    color: var(--textColor);
}

a {
    color: var(--hrefColor);
}

nav {
    background-color: var(--navColor);
    color: var(--navTextColor);
}

.roundButton {
    background-color: var(--backgroundColor);
    border-color: var(--textColor);
}

table {
    background-color: var(--backgroundColor);
}

.divUse {
    background-color: var(--backgroundColor);

}

.modelNowInService {
    color: var(--mainPageNotImportantTextColor);
}