:root[data-theme=monotone] {
    --textColor: #000000;
    --backgroundColor: #ffffff;
    --buttonColor: #bdbdbd;
    --buttonHoverColor: #a1a1a1;
    --buttonActiveColor: #ff002a;
    --roundButtonColor: #a1a1a1;
    --hrefColor: #000000;
    --inputColor: #eaeaea;
    --navColor: #000000;
    --navTextColor: #ffffff;
    --buttonTransColor: #eaeaea;
    --importantColor: #ff002a;
    --mainPageNotImportantTextColor: #6f6f6f;
}

:root[data-theme=monotone] .navIcon,
:root[data-theme=monotone] .uploadIcon {
    filter: invert(100%);
}

:root[data-theme=monotone] .changeStatusIcon,
:root[data-theme=monotone] .binIcon {
    filter: invert(11%) sepia(97%) saturate(7143%) hue-rotate(4deg) brightness(104%) contrast(112%);
}