:root[data-theme=mountain] {
    --textColor: #253d24;
    --backgroundColor: #ecfff7;
    --buttonColor: #83cbac;
    --buttonHoverColor: #71b597;
    --buttonActiveColor: #61acb5;
    --roundButtonColor: #71b597;
    --hrefColor: #253d24;
    --inputColor: #b5efd6;
    --navColor: #253d24;
    --navTextColor: #ecfff7;
    --buttonTransColor: #b5efd6;
    --importantColor: #dcb133;
    --mainPageNotImportantTextColor: #71b597;
}

:root[data-theme=mountain] #emailIcon,
:root[data-theme=mountain] #phoneIcon,
:root[data-theme=mountain] #linkIcon,
:root[data-theme=mountain] #teamIcon,
:root[data-theme=mountain] #assistantIcon,
:root[data-theme=mountain] .returnIcon,
:root[data-theme=mountain] .binIcon,
:root[data-theme=mountain] .generateIcon,
:root[data-theme=mountain] .copyIcon {
    filter: invert(16%) sepia(56%) saturate(386%) hue-rotate(69deg) brightness(101%) contrast(90%);
}

:root[data-theme=mountain] .changeStatusIcon {
    filter: invert(67%) sepia(19%) saturate(805%) hue-rotate(138deg) brightness(90%) contrast(90%);
}

:root[data-theme=mountain] .navIcon,
:root[data-theme=mountain] .uploadIcon {
    filter: invert(89%) sepia(9%) saturate(344%) hue-rotate(89deg) brightness(109%) contrast(105%);
}